#slct {
    background: rgba(0, 0, 0, 0.3);
}
.padre {
    padding: 15%;
    margin: auto;
}
.select_bd {
    display: block;
    width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:992px) {
    .btn-menu {
        display: none;
    }
}   
